* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('A5JavaJamStarterImages/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer"; 
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #D2B48C;
    color: #8C3826;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

#hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

#sidebar {
    grid-area: sidebar;
    background-color: #3b2f2f;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 15px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#main-content {
    grid-area: main;
    background-color: #d4ab41;
    padding: 10px;
    border-left: 3px solid #8C3826;
}

#main-content h2 {
    margin-bottom: 10px;
    color: #8C3826;
}

#main-content ul {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    grid-area: footer;
    background-color: #b9761e;
    text-align: center;
    padding: 10px;
    color: white;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer p {
    margin: 10px 0;
}
